{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<!--<h1 class="text-center"> This is About page</h1>-->

    <div class="container border border-success rounded text-justify mb-5">
        <h1>About me</h1>
        {% load static %}
        <span><img src="{% static 'images/profile.jpg' %}" class="rounded-circle float-left mr-3" height="200" width="200"></span>
        <span><p class=" ">Hello! Myself M.Shaheer khan i am 23 years old,i am graduated from Iqra
            University major Computer science I'm an enthusiast Web developer with excellent technical
            and communication skills.I love anything that has to do with programming and Web
            Development.I am a fresher, but I am very hard working person and passionate to gain
            more and more knowledge. Whatever task I take in my hand, I do with full passion and
            concentration, and try to complete the task as soon as possible.Currently i am seeking
            for a opportunity to learn and grow, team oriented and a happy workplace. To know more
            about me, please go through my Resume.</p>
            </span>
        <p>Shop is a leather bag and accessory company, and their About Us page goes
            above and beyond. Not only do they have the standard company history, but they
            also include the history of the Ghurka soldiers they're named after, a detailed
            dissection of their logo and in-depth information about their manufacturing. Of course,
            not every store calls for such a robust About Us, but since this company's inspiration is
            steeped in Himalayan history, this is an instance where it works very well.</p>
<!--        <p>Shop is a leather bag and accessory company, and their About Us page goes-->
<!--            above and beyond. Not only do they have the standard company history, but they-->
<!--            also include the history of the Ghurka soldiers they're named after, a detailed-->
<!--            dissection of their logo and in-depth information about their manufacturing. Of course,-->
<!--            not every store calls for such a robust About Us, but since this company's inspiration is-->
<!--            steeped in Himalayan history, this is an instance where it works very well.</p>-->
<!--        <p>Shop is a leather bag and accessory company, and their About Us page goes-->
<!--            above and beyond. Not only do they have the standard company history, but they-->
<!--            also include the history of the Ghurka soldiers they're named after, a detailed-->
<!--            dissection of their logo and in-depth information about their manufacturing. Of course,-->
<!--            not every store calls for such a robust About Us, but since this company's inspiration is-->
<!--            steeped in Himalayan history, this is an instance where it works very well.</p>-->
<!--        <p>Shop is a leather bag and accessory company, and their About Us page goes-->
<!--            above and beyond. Not only do they have the standard company history, but they-->
<!--            also include the history of the Ghurka soldiers they're named after, a detailed-->
<!--            dissection of their logo and in-depth information about their manufacturing. Of course,-->
<!--            not every store calls for such a robust About Us, but since this company's inspiration is-->
<!--            steeped in Himalay  an history, this is an instance where it works very well.</p>-->
    </div>




{% endblock %}