{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
 <h1 class="text-center">My projects</h1>
<hr width="500" color="grey"/>
<!--<hr>-->
<div class="container">
    <div class="row mb-5">

        <div class="col-md-4 col-sm-6">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

         <div class="col-md-4 col-sm-6">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

         <div class="col-md-4 col-sm-6">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

    </div>
<!--    Another card row-->
    <div class="row mb-5">

        <div class="col-md-4 col-sm-6">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

         <div class="col-md-4 col-sm-6">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

         <div class="col-md-4 col-sm-6">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

    </div>
</div>
<br>
{% endblock %}

{% block customJavaScript %}
    console.log("This is template testing")
{% endblock %}