{% extends 'mainTemplate.html' %}

{% block title %}About us{% endblock %}

{% block content %}
    <div class="container border border-success rounded text-justify">
        <h1>About us</h1>
        {% load static %}
        <span><img src="{% static 'Shop/images/person.jpg' %}" class="rounded-circle float-left mr-3" height="200" width="200"></span>
        <span><p class="    ">Shop is a leather bag and accessory company, and their About Us page goes
            above and beyond. Not only do they have the standard company history, but they
            also include the history of the Ghurka soldiers they're named after, a detailed
            dissection of their logo and in-depth information about their manufacturing. Of course,
            not every store calls for such a robust About Us, but since this company's inspiration is
            steeped in Himalayan history, this is an instance where it works very well.</p>
            </span>
        <p>Shop is a leather bag and accessory company, and their About Us page goes
            above and beyond. Not only do they have the standard company history, but they
            also include the history of the Ghurka soldiers they're named after, a detailed
            dissection of their logo and in-depth information about their manufacturing. Of course,
            not every store calls for such a robust About Us, but since this company's inspiration is
            steeped in Himalayan history, this is an instance where it works very well.</p>
        <p>Shop is a leather bag and accessory company, and their About Us page goes
            above and beyond. Not only do they have the standard company history, but they
            also include the history of the Ghurka soldiers they're named after, a detailed
            dissection of their logo and in-depth information about their manufacturing. Of course,
            not every store calls for such a robust About Us, but since this company's inspiration is
            steeped in Himalayan history, this is an instance where it works very well.</p>
        <p>Shop is a leather bag and accessory company, and their About Us page goes
            above and beyond. Not only do they have the standard company history, but they
            also include the history of the Ghurka soldiers they're named after, a detailed
            dissection of their logo and in-depth information about their manufacturing. Of course,
            not every store calls for such a robust About Us, but since this company's inspiration is
            steeped in Himalayan history, this is an instance where it works very well.</p>
        <p>Shop is a leather bag and accessory company, and their About Us page goes
            above and beyond. Not only do they have the standard company history, but they
            also include the history of the Ghurka soldiers they're named after, a detailed
            dissection of their logo and in-depth information about their manufacturing. Of course,
            not every store calls for such a robust About Us, but since this company's inspiration is
            steeped in Himalayan history, this is an instance where it works very well.</p>
    </div>

{% endblock %}