{% extends "base.html" %}

	{% block title %} Login Page {% endblock %}

	{% block content %}
<br/>
	<form>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 box">
				<h1 align="center">Login</h1>
				<div class="form-group has-feedback has-feedback-left">
					<label>UserName</label>
					<span class="glyphicon glyphicon-user form-control-feedback" ></span>
					<input type="text" class="form-control" placeholder="UserName">
				</div>
				<div class="form-group has-feedback">
					<label>Password</label>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<input type="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group ">
					<input type="submit" class="btn btn-primary btn-block" value="login">
				</div>
				<div class="fogotpassandsignup">
					<!-- <p class="bg-primary">Hello</p> -->
					<div class="alert alert-danger">
						<strong>Warning!</strong>  Invalid Login
					</div>
					<a href="#">Forget Password?</a>
					<a href="/shop/signup" class="pull-right">Doesn't have an account?</a>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</form>
	{% endblock %}
