{% extends 'base.html' %}
{% block title %} Signup {% endblock  %}

{% block content %}
	<script type="text/javascript">

		$(document).ready(function(){

		$(':input[type="submit"]').prop('disabled', true);
		var pass_field = document.getElementById("passwordBox");
		var confirm_pass_field = document.getElementById("confirmPasswordBox");
		pass_field.onkeyup = function() {
			var lowerCaseLetters = /[a-z]/g;
			var upperCaseLetters = /[A-Z]/g;
			var numbers = /[0-9]/g;
			if(pass_field.value.length < 8)
			{
				$("#p5").text("Password must Contain at least 8 characters").css("color","red");
				$(':input[type="submit"]').prop('disabled', true);
			}
			if(! pass_field.value.match(numbers))
			{
				$("#p5").text("Password must Contain numbers").css("color","red");
				$(':input[type="submit"]').prop('disabled', true);
			}
			if(! pass_field.value.match(upperCaseLetters))
			{
				$("#p5").text("Password must Contain some Upper letters").css("color","red");
				$(':input[type="submit"]').prop('disabled', true);
			}
			if(! pass_field.value.match(lowerCaseLetters))
			{
				$("#p5").text("Password must Contain some lower letters").css("color","red");
				$(':input[type="submit"]').prop('disabled', true);
			}
			var msg = $("#p5").val();
			if(pass_field.value.length >= 8 && pass_field.value.match(lowerCaseLetters) && pass_field.value.match(upperCaseLetters) && pass_field.value.match(numbers) && msg == '')
			{
				$("#p5").text("Strong password").css("color","green");;

			}

		}
		confirm_pass_field.onfocus = function() {
				confirm_pass_field.onkeyup = function() {
						//var pass = pass_field.value
						if (pass_field.value != confirm_pass_field.value){
							$("#p6").text("Password does not match").css("color","red");
							$(':input[type="submit"]').prop('disabled', true);
						}
						else{
							$("#p6").text("Password Matched").css("color","green");
							$(':input[type="submit"]').prop('disabled', false);
						}
				}
			}


});
	</script>

	 <form method="post" action="/shop/StoreData/">
<br/>
		 {% csrf_token %}
		<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 signupbox">
				<!-- <div class="col-md-12 text-center"> -->
					<h1>Signup</h1>
				<!-- </div> -->
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" name="first_name" placeholder="First name" id="fNameBox">
						<p id="p1"></p>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" name="last_name" placeholder="Last name" id="lNameBox">
						<p id="p2"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<input type="email" class="form-control" name="email" placeholder="Email" id="emailBox">
						<p id="p3"></p>
					</div>
					<div class="col-md-6">
						<input type="number" class="form-control" name="phone" placeholder="Phone no" id="numberBox">
						<p id="p4"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<input type="password" class="form-control" name="password" placeholder="Password" id="passwordBox">
						<p id="p5"></p>
					</div>
					<div class="col-md-6">
						<input type="password" class="form-control" name="" placeholder="Confirm Password" id="confirmPasswordBox">
						<p id="p6"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<input type="date" class="form-control" name="dob" id="dateBox">
						<p id="p7"></p>
					</div>

					<div class="col-md-6 mt-2">
						<select class="form-control" name="gender" >
							<option selected="" disabled="" id="genderBox">Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
						<p id="p8"></p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<input type="textarea" name="address" class="form-control" placeholder="Address" id="addressBox">
					</div>
					<p id="p9"></p>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2 "></div>
					<div class="col-md-4">
						<input type="submit" class="btn btn-success btn-block" name="" id="submitBtn">
					</div>
					<div class="col-md-4">
						<input type="reset" class="btn btn-danger btn-block" name="" id="resetBtn">
					</div>
					<div class="col-md-2"></div>
				</div>

			</div>
			<div class="col-md-2"></div>
		</div>
			<br/>
		<!-- Showing alerts for password validation	-->

	</div>
	 </form>
{% endblock 	%}
